body {
  background: linear-gradient(
    109.6deg,
    rgb(204, 228, 247) 11.2%,
    rgb(237, 246, 250) 100.2%
  );
}
.btn-primary {
  background-color: #bbd7ed;
  border: none;
}
.loading {
  color: #878787;
  font-size: 40px;
  font-family: "M PLUS Rounded 1c", sans-serif;
  padding: 80px;
  text-align: center;
}
.Weather .form-control {
  background-color: #e6f1f9;
  color: #878787;
}
.Weather {
  background-color: white;
  border: 1px solid #dadde1;
  border-radius: 5px;
  font-family: "M PLUS Rounded 1c", sans-serif;
  color: #878787;
  padding: 30px 20px 20px 20px;
  margin: 60px 30px 20px 30px;
}

.Weather h1 {
  font-size: 34px;
  font-weight: 300;
  line-height: 44px;
  margin: 20px 0 0 0;
}
.Weather ul {
  margin: 0;
  padding: 0;
}
.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}
.Weather .temperature {
  color: #212121;
  font-size: 64px;
  font-weight: 400;
}

.Weather .main-weather-image {
  width: 88px;
  height: 88px;
  margin-top: -40px;
  margin-right: 5px;
}

.Weather .unit {
  color: #212121;
  font-size: 20px;
  font-weight: 400;
  position: relative;
  top: -32px;
  line-height: 1;
}
.Weather .unit a {
  text-decoration: none;
}
.Weather .weather-details {
  margin-top: 20px;
}
footer {
  font-family: "M PLUS Rounded 1c", sans-serif;
  text-align: center;
  color: #878787;
}

a {
  color: #657894;
}

a:hover {
  text-decoration: none;
}
